@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg {
    background-color: #00a9e0;
  }
  .bc {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #42A9FB, #D4E094) border-box;
    border-radius: 3px;
    border: 4px solid transparent;
  }
}
